/*-------------imports----------*/
@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
/*-------------/imports---------*/
/*---------variables--------------*/
/*--------/variables--------------*/
body {
  font-family: "Lato", sans-serif;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
}

.header {
  height: 75px;
  background-color: #222222;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__left, .header__right {
  display: flex;
}
.header__logo {
  margin: 0 40px 0 0;
}
.header__search, .header__search-form {
  display: flex;
  align-items: flex-end;
}
.header__button {
  border: none;
  outline: none;
  background-color: #222222;
  margin: 0 20px 0 0;
}
.header__input {
  color: #ffffff;
  background-color: #222222;
  outline: none;
  border: #222222;
  border-bottom: 1px solid #ffffff;
}
.header__right {
  justify-content: flex-end;
}
.header__burger {
  display: flex;
}
.header__user {
  margin: 0 0 0 33px;
}
.header__cart {
  margin: 0 0 0 33px;
  position: relative;
}
.header__cart:after {
  content: "0";
  position: absolute;
  background-color: #f16d7f;
  color: #ffffff;
  border-radius: 50%;
  font-size: 12px;
  line-height: 14px;
  padding: 2px 5px;
  left: 25px;
  bottom: 20px;
}